PlantATree/Service References/TreeService/TreeService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlantATree.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlantATree.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PlantATree/TreeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfTree">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tree" nillable="true" type="tns:Tree" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTree" nillable="true" type="tns:ArrayOfTree" />
  <xs:complexType name="Tree">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CoordinateX" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CoordinateY" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CoordinateZ" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CreatorEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatorName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TreeId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tree" nillable="true" type="tns:Tree" />
</xs:schema>